{% extends 'base.html' %}
{% block content %}
    <!-- #page -->
        <!-- home content -->
        <section class="page_section parallax_effect" id="home" data-stellar-background-ratio="0.5" >
			
				<div class="container">
					<div class="welcome_block">
						<img src="{{ STATIC_URL }}img/emblem.png" alt="" />
						<h1>Eventex</h1>
						<p>O evento mais sensacional do ano.</p>
                        <p>Você não pode deixar de perder</p>
                        <p><strong><a href="{% url 'subscriptions:subscribe' %}">Inscreva-se já!</a></strong></p>
					</div>
					<a href="#about" class="down_btn"></a>
				</div>
			
			<div class="home_gradient"></div>
        </section>       

        <!-- about content-->
        <section class="page_section" id="about">
            <!-- section header -->
			<div class="container">
				<h2><span>Sobre</span></h2>
			</div>
            <!-- //section header -->
            
            <!-- section content -->
            <div class="content_section container"> 
                <div class="row">
                	<div class="span6">
						<p>Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin congue orci sed aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum, elit ac fermentum egestas, tortor ante vestibulum est, eget scelerisque nisl velit eget tellus. Fusce porta facilisis luctus.</p>
						<p>Integer neque dolor, rhoncus nec euismod eget, pharetra et tortor. Nulla id pulvinar nunc. Vestibulum auctor nisl vel lectus ullamcorper sed pellentesque dolor eleifend. Praesent lobortis magna vel diam mattis sagittis.</p>
						<ul class="spsk">
							<li class="icon1">Cras sagittis commodo risus, et sollicitudin lacus ultrices quis.</li>
							<li class="icon2">Fusce cursus ipsum id felis dictum at interdum sapien bibendum.</li>
							<li class="icon3">Integer vitae molestie eros.</li>
							<li class="icon4">Nam luctus, ipsum in volutpat commodo, tortor erat</li>
						</ul>
					</div>
                    <div class="span6"><img src="{{ STATIC_URL }}img/evento.jpg" alt="" /></div>
					<div class="clear"></div>
                </div>
                <div class="row services_block">
                </div>
            </div>
            <!-- //section content -->
        </section>


        <!-- events content-->
        <section class="page_section" id="events">
            <!-- section header -->
			<div class="container">
				<h2><span>Eventos</span></h2>
			</div><!-- //section header -->
            
            <!-- section content -->
            <div class="content_section container"> 
                <div class="row events_block projects">
					<div class="element span6">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/1.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/1.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Eventex 2014</a>
								<div class="event_info"><span class="fleft">August 8, 2014</span><span class="fright">Rio de Janeiro</span><div class="clear"></div></div>
								O evento terá a participação especial de Henrique Bastos, o nosso Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ele abordará o tema Morbi rutrum, elit ac fermentum <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span6">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/2.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/2.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Etiam nec turpis et risus</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin congue orci sed aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum, elit ac fermentum <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span6">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/3.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/3.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Suspendisse fringilla a massa</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin congue orci sed aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum, elit ac fermentum <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span3">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/4.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/4.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Morbi ut mattis</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span3">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/5.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/5.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Nulla eget venatis</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span5">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/6.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/6.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Vivamus id faucibus enim</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin congue orci sed aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span4">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/7.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/7.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Proin egestas nunc libero</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="element span3">
						<div class="event_item">
							<div class="event_img">
								<img src="{{ STATIC_URL }}img/events/8.jpg" alt="" />
								<a class="zoom" href="{{ STATIC_URL }}img/events/8.jpg" rel="prettyPhoto[portfolio1]"></a>
							</div>
							<div class="event_description">
								<a class="title" href="javascript:void(0);" alt="">Fusce quis sapien</a>
								<div class="event_info"><span class="fleft">August 8, 2020</span><span class="fright">London</span><div class="clear"></div></div>
								Aenean sagittis tortor quis nisl aliquet at rutrum nisi posuere. Ut sollicitudin <a class="read_more" href="javascript:void(0);" alt="">[...]</a>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div><!-- //section content -->
        </section>
		
		<section id="testimonials">
            <!-- section header -->
			<div class="parallax_effect" data-stellar-background-ratio="0.5">
				<div class="container">
					<div class="testimonials_block">
						<div class="testimonials_txt">Fusce ornare semper varius. Duis ac mi neque. Praesent vitae eros urna. Integer dapibus, tellus non laoreet gravida, neque turpis ultricies tellus, a ullamcorper ipsum eros a lacus. Donec lectus turpis, viverra lobortis suscipit vitae, aliquet id diam. Mauris aliquam, neque mollis convallis tempor, lacus mauris adipiscing arcu, quis porttitor magna sapien a dui. Quisque eu neque nulla. Fusce dictum diam id felis vestibulum a sollicitudin ligula vestibulum. Integer vel mattis sem. Morbi ut enim id nunc pulvinar iaculis.</div>
						<a href="javascript:void(0);"><img src="{{ STATIC_URL }}img/avatar1.jpg" alt="" /></a>
						<div class="author_inf"><span>Chuck Norris,</span>o cara</div>
					</div>
				</div><!-- end .container -->
				<div class="home_gradient"></div>
			</div><!-- //section header -->
		</section>

        <!-- Contact content -->
        <section class="page_section" id="contact">
            <!-- section header -->
            <div class="container">
				<h2><span>Contatos</span></h2>
			</div><!-- //section header -->
                        
            <!-- section content -->
            <div class="content_section container">
                <div class="row">
					<div class="span12">
                    	<p>Sed sit amet lectus id libero sagittis mollis vel in sem. Quisque eu tempus neque, at ultricies turpis. Fusce nec leo quis quam ultrices commodo id eget ante. Sed tincidunt metus eu magna ultrices, at lobortis magna elementum.</p>
                    </div>
					<div class="clear"></div>
                	<div class="span3 contact_info">
                    	<h3>London</h3>
						<p>Chuck Norris</br>Não o procure</br>Ele vai até você</br>London NW1</p>
						<span>Email :</span><a href="mailto:chucknorris@sitename.com" alt="">chucknorris@sitename.com</a></br>
						<span>Phone :</span>+1 959 603 6035
                	</div>
					<div class="span3 contact_info">
                    	<h3>New York</h3>
						<p>Chuck Norris</br>Não o procure</br>Ele vai até você</br>New York NY 1</p>
						<span>Email :</span><a href="mailto:chucknorris@sitename.com" alt="">chucknorris@sitename.com</a></br>
						<span>Phone :</span>+1 959 734 8569
                	</div>
					<div class="span3 contact_info">
                    	<h3>Brooklyn</h3>
						<p>Chuck Norris</br>Não o procure</br>Ele vai até você</br>Brooklyn</p>
						<span>Email :</span><a href="mailto:chucknorris@sitename.com" alt="">chucknorris@sitename.com</a></br>
						<span>Phone :</span>+1 959 478 3457
                	</div>
					<div class="span3 contact_info">
                    	<h3>Miami</h3>
						<p>Chuck Norris</br>Não o procure</br>Ele vai até você</br>Miami</p>
						<span>Email :</span><a href="mailto:chucknorris@sitename.com" alt="">chucknorris@sitename.com</a></br>
						<span>Phone :</span>+1 959 603 6035
                	</div>
					<div class="clear"></div>
                    <iframe src="https://docs.google.com/forms/d/1wHDj8LFHuHjvXQgGALpe4Qfy5J-zaYnzmuHD3D_qY-Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Carregando...</iframe>
                </div>
                <div class="row map">
                    <div class="span12">
                        <img src="{{ STATIC_URL }}img/mapa.jpg" width="1020" />
                    </div>
                </div>
            </div>
                  
            <!-- //section content -->
        </section>
        <!--footer-->
        <div class="footer">
        	<!-- footer_bottom -->
        	<div class="footer_bottom container">         
                <div class="fleft copyright">Eventex &copy; 2020 | <a href="javascript:void(0);">Privacy Policy</a></div>
				<a href="#home" class="fright down_btn">Início</a>
				<div class="clear"></div>
            </div>
        	<!-- //footer_bottom -->
        </div>
        <!--//footer-->
{% endblock content %}